example/SnapshotSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <!-- Root Element Definition -->
    <xs:element name="World" type="WorldType">
        <!-- Key Definitions for ID/IDREF validation -->
        <xs:key name="FactorDefinitionKey">
            <xs:selector xpath=".//FactorDefinition"/>
            <xs:field xpath="@Id"/>
        </xs:key>
        <xs:key name="PopulationGroupDefinitionKey">
            <xs:selector xpath=".//PopulationGroupDefinition"/>
            <xs:field xpath="@Id"/>
        </xs:key>

        <!-- Key References to enforce integrity -->
        <xs:keyref name="FactorRefKeyRef" refer="FactorDefinitionKey">
            <xs:selector xpath=".//FactorSensitivity|.//FactorValue"/>
            <xs:field xpath="@FactorRef"/>
        </xs:keyref>
        <xs:keyref name="PopulationGroupRefKeyRef" refer="PopulationGroupDefinitionKey">
            <xs:selector xpath=".//PopulationGroupValue"/>
            <xs:field xpath="@PopulationGroupRef"/>
        </xs:keyref>
    </xs:element>

    <!-- Type Definitions -->

    <!-- World Type -->
    <xs:complexType name="WorldType">
        <xs:sequence>
            <xs:element name="World.FactorDefinitions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="FactorDefinition" type="FactorDefinitionType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="World.PopulationGroupDefinitions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="PopulationGroupDefinition" type="PopulationGroupDefinitionType"
                                    maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="World.Cities">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="City" type="CityType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="World.SimulationConfig" type="SimulationConfigType" minOccurs="0"/>
            <xs:element name="World.Simulation" type="SimulationStateType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="Version" type="xs:string" use="required"/>
        <xs:attribute name="DisplayName" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- FactorDefinition Type -->
    <xs:complexType name="FactorDefinitionType">
        <xs:attribute name="Id" type="xs:ID" use="required"/>
        <xs:attribute name="DisplayName" type="xs:string" use="required"/>
        <xs:attribute name="Type" type="FactorTypeEnum" use="required"/>
        <xs:attribute name="MinValue" type="xs:double" use="required"/>
        <xs:attribute name="MaxValue" type="xs:double" use="required"/>
        <xs:attribute name="Transform" type="TransformTypeEnum" use="optional"/>
    </xs:complexType>

    <!-- PopulationGroupDefinition Type -->
    <xs:complexType name="PopulationGroupDefinitionType">
        <xs:sequence>
            <xs:element name="PopulationGroupDefinition.Sensitivities">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="FactorSensitivity" type="FactorSensitivityType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:ID" use="required"/>
        <xs:attribute name="DisplayName" type="xs:string" use="required"/>
        <xs:attribute name="MovingWillingness" type="xs:double" use="required"/>
        <xs:attribute name="RetentionRate" type="xs:double" use="required"/>
    </xs:complexType>

    <!-- FactorSensitivity Type -->
    <xs:complexType name="FactorSensitivityType">
        <xs:attribute name="FactorRef" type="xs:IDREF" use="required"/>
        <xs:attribute name="Sensitivity" type="xs:integer" use="required"/>
        <xs:attribute name="OverriddenFactorType" type="FactorTypeEnum" use="optional"/>
    </xs:complexType>

    <!-- City Type -->
    <xs:complexType name="CityType">
        <xs:sequence>
            <xs:element name="City.Location">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Coordinate" type="CoordinateType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="City.FactorValues">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="FactorValue" type="FactorValueType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="City.PopulationGroupValues">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="PopulationGroupValue" type="PopulationGroupValueType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="DisplayName" type="xs:string" use="required"/>
        <xs:attribute name="Area" type="xs:double" use="required"/>
    </xs:complexType>

    <!-- Coordinate Type -->
    <xs:complexType name="CoordinateType">
        <xs:attribute name="Latitude" type="xs:decimal" use="required"/>
        <xs:attribute name="Longitude" type="xs:decimal" use="required"/>
    </xs:complexType>

    <!-- FactorValue Type -->
    <xs:complexType name="FactorValueType">
        <xs:attribute name="FactorRef" type="xs:IDREF" use="required"/>
        <xs:attribute name="Intensity" type="xs:double" use="required"/>
    </xs:complexType>

    <!-- PopulationGroupValue Type -->
    <xs:complexType name="PopulationGroupValueType">
        <xs:attribute name="PopulationGroupRef" type="xs:IDREF" use="required"/>
        <xs:attribute name="Population" type="xs:positiveInteger" use="required"/>
    </xs:complexType>

    <!-- SimulationConfig Type -->
    <xs:complexType name="SimulationConfigType">
        <xs:sequence>
            <xs:element name="MaxSteps" type="xs:positiveInteger" minOccurs="0"/>
            <xs:element name="StabilizationThreshold" type="xs:double" minOccurs="0"/>
            <xs:element name="CheckStabilization" type="xs:boolean" minOccurs="0"/>
            <xs:element name="FeedbackSmoothingFactor" type="xs:double" minOccurs="0"/>
            <xs:element name="RandomSeed" type="xs:integer" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- SimulationState Type -->
    <xs:complexType name="SimulationStateType">
        <xs:sequence>
            <xs:element name="CurrentStep" type="xs:nonNegativeInteger" minOccurs="0"/>
            <xs:element name="LastStepMigrations" type="xs:nonNegativeInteger" minOccurs="0"/>
            <xs:element name="TotalMigrations" type="xs:nonNegativeInteger" minOccurs="0"/>
            <xs:element name="IsStabilized" type="xs:boolean" minOccurs="0"/>
            <xs:element name="IsCompleted" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Enumeration Types -->
    <xs:simpleType name="FactorTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Negative"/>
            <xs:enumeration value="Positive"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TransformTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Linear"/>
            <xs:enumeration value="Log"/>
            <xs:enumeration value="Sigmoid"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>

