examples/WorldSnapshot.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <!-- Root Element -->
    <xs:element name="WorldSnapshot" type="WorldSnapshotType"/>

    <!-- WorldSnapshot Type -->
    <xs:complexType name="WorldSnapshotType">
        <xs:sequence>
            <xs:element name="Id" type="xs:string"/>
            <xs:element name="DisplayName" type="xs:string"/>
            <xs:element name="Status" type="SnapshotStatusType"/>
            <xs:element name="CreatedAt" type="xs:dateTime"/>
            <xs:element name="LastModifiedAt" type="xs:dateTime"/>
            <xs:element name="InitialState" type="InitialWorldStateType"/>
            <xs:element name="Steps" type="SimulationStepsType" minOccurs="0"/>
            <xs:element name="Metadata" type="MetadataType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Snapshot Status Type -->
    <xs:simpleType name="SnapshotStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Seed"/>
            <xs:enumeration value="InProgress"/>
            <xs:enumeration value="Completed"/>
            <xs:enumeration value="Failed"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Initial World State Type -->
    <xs:complexType name="InitialWorldStateType">
        <xs:sequence>
            <xs:element name="DisplayName" type="xs:string"/>
            <xs:element name="FactorDefinitions" type="FactorDefinitionsType"/>
            <xs:element name="GroupDefinitions" type="GroupDefinitionsType"/>
            <xs:element name="Cities" type="CitiesType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Factor Definitions Type -->
    <xs:complexType name="FactorDefinitionsType">
        <xs:sequence>
            <xs:element name="FactorDefinitionSnapshot" type="FactorDefinitionSnapshotType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Factor Definition Snapshot Type -->
    <xs:complexType name="FactorDefinitionSnapshotType">
        <xs:sequence>
            <xs:element name="DisplayName" type="xs:string"/>
            <xs:element name="Type" type="FactorTypeType"/>
            <xs:element name="MinValue" type="xs:double"/>
            <xs:element name="MaxValue" type="xs:double"/>
            <xs:element name="Transform" type="TransformTypeType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Factor Type -->
    <xs:simpleType name="FactorTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Positive"/>
            <xs:enumeration value="Negative"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Transform Type -->
    <xs:simpleType name="TransformTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Linear"/>
            <xs:enumeration value="Log"/>
            <xs:enumeration value="Sigmoid"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Group Definitions Type -->
    <xs:complexType name="GroupDefinitionsType">
        <xs:sequence>
            <xs:element name="GroupDefinitionSnapshot" type="GroupDefinitionSnapshotType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Group Definition Snapshot Type -->
    <xs:complexType name="GroupDefinitionSnapshotType">
        <xs:sequence>
            <xs:element name="DisplayName" type="xs:string"/>
            <xs:element name="MovingWillingness" type="RateType"/>
            <xs:element name="RetentionRate" type="RateType"/>
            <xs:element name="SensitivityScaling" type="xs:double"/>
            <xs:element name="AttractionThreshold" type="xs:double"/>
            <xs:element name="MinimumAcceptableAttraction" type="xs:double"/>
            <xs:element name="Sensitivities" type="SensitivitiesType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Rate Type (0-1) -->
    <xs:simpleType name="RateType">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Sensitivities Type -->
    <xs:complexType name="SensitivitiesType">
        <xs:sequence>
            <xs:element name="FactorSensitivitySnapshot" type="FactorSensitivitySnapshotType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Factor Sensitivity Snapshot Type -->
    <xs:complexType name="FactorSensitivitySnapshotType">
        <xs:sequence>
            <xs:element name="FactorRef" type="xs:string"/>
            <xs:element name="Sensitivity" type="xs:double"/>
            <xs:element name="OverriddenFactorType" type="FactorTypeType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Cities Type -->
    <xs:complexType name="CitiesType">
        <xs:sequence>
            <xs:element name="CitySnapshot" type="CitySnapshotType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- City Snapshot Type -->
    <xs:complexType name="CitySnapshotType">
        <xs:sequence>
            <xs:element name="DisplayName" type="xs:string"/>
            <xs:element name="Area" type="xs:double"/>
            <xs:element name="Location" type="LocationSnapshotType"/>
            <xs:element name="Capacity" type="xs:int" minOccurs="0"/>
            <xs:element name="FactorValues" type="FactorValuesType"/>
            <xs:element name="GroupValues" type="GroupValuesType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Location Snapshot Type -->
    <xs:complexType name="LocationSnapshotType">
        <xs:sequence>
            <xs:element name="Longitude" type="xs:double"/>
            <xs:element name="Latitude" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Factor Values Type -->
    <xs:complexType name="FactorValuesType">
        <xs:sequence>
            <xs:element name="FactorValueSnapshot" type="FactorValueSnapshotType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Factor Value Snapshot Type -->
    <xs:complexType name="FactorValueSnapshotType">
        <xs:sequence>
            <xs:element name="FactorRef" type="xs:string"/>
            <xs:element name="Intensity" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Group Values Type -->
    <xs:complexType name="GroupValuesType">
        <xs:sequence>
            <xs:element name="GroupValueSnapshot" type="GroupValueSnapshotType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Group Value Snapshot Type -->
    <xs:complexType name="GroupValueSnapshotType">
        <xs:sequence>
            <xs:element name="GroupRef" type="xs:string"/>
            <xs:element name="Population" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Simulation Steps Type -->
    <xs:complexType name="SimulationStepsType">
        <xs:sequence>
            <xs:element name="SimulationStep" type="SimulationStepType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Simulation Step Type -->
    <xs:complexType name="SimulationStepType">
        <xs:sequence>
            <xs:element name="StepNumber" type="xs:int"/>
            <xs:element name="Migrations" type="MigrationsType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Migrations Type -->
    <xs:complexType name="MigrationsType">
        <xs:sequence>
            <xs:element name="MigrationRecord" type="MigrationRecordType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Migration Record Type -->
    <xs:complexType name="MigrationRecordType">
        <xs:sequence>
            <xs:element name="OriginCityRef" type="xs:string"/>
            <xs:element name="DestinationCityRef" type="xs:string"/>
            <xs:element name="GroupRef" type="xs:string"/>
            <xs:element name="Count" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Metadata Type -->
    <xs:complexType name="MetadataType">
        <xs:sequence>
            <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>