schemas/snapshot.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  dotMigrata Snapshot Schema v2.0
  
  Simplified XML format with:
  - Single namespace for all elements
  - Attribute-based configuration for scalar values
  - Shorter element names for reduced file size
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://geomigrata.pages.dev/snapshot"
           targetNamespace="http://geomigrata.pages.dev/snapshot"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <!-- ========== Root Element ========== -->

    <xs:element name="Snapshot">
        <xs:annotation>
            <xs:documentation>Root element containing a simulation world snapshot.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="World" type="WorldType"/>
                <xs:element name="History" type="HistoryType" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="Version" type="xs:string" use="required"/>
            <xs:attribute name="Id" type="xs:string" use="required"/>
            <xs:attribute name="Status" type="SnapshotStatusType" use="required"/>
            <xs:attribute name="CreatedAt" type="xs:dateTime" use="required"/>
            <xs:attribute name="LastModifiedAt" type="xs:dateTime" use="optional"/>
            <xs:attribute name="Tick" type="xs:nonNegativeInteger" default="0"/>
        </xs:complexType>
    </xs:element>

    <!-- ========== Enumerations ========== -->

    <xs:simpleType name="SnapshotStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Seed"/>
            <xs:enumeration value="Active"/>
            <xs:enumeration value="Stabilized"/>
            <xs:enumeration value="Completed"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FactorTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Positive"/>
            <xs:enumeration value="Negative"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TransformTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Linear"/>
            <xs:enumeration value="Log"/>
            <xs:enumeration value="Sigmoid"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ========== World Structure ========== -->

    <xs:complexType name="WorldType">
        <xs:sequence>
            <xs:element name="Factors" type="FactorsType" minOccurs="0"/>
            <xs:element name="Population" type="PopulationType" minOccurs="0"/>
            <xs:element name="Cities" type="CitiesType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" use="optional"/>
    </xs:complexType>

    <!-- ========== Factor Definitions ========== -->

    <xs:complexType name="FactorsType">
        <xs:sequence>
            <xs:element name="Factor" type="FactorType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FactorType">
        <xs:attribute name="Id" type="xs:string" use="required"/>
        <xs:attribute name="Name" type="xs:string" use="optional"/>
        <xs:attribute name="Type" type="FactorTypeEnum" use="required"/>
        <xs:attribute name="Min" type="xs:double" use="required"/>
        <xs:attribute name="Max" type="xs:double" use="required"/>
        <xs:attribute name="Transform" type="TransformTypeEnum" use="optional"/>
    </xs:complexType>

    <!-- ========== Population Groups ========== -->

    <xs:complexType name="PopulationType">
        <xs:sequence>
            <xs:element name="Group" type="GroupType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GroupType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Person" type="PersonType"/>
                <xs:element name="Generator" type="GeneratorType"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- ========== Person Template ========== -->

    <xs:complexType name="PersonType">
        <xs:sequence>
            <xs:element name="Sensitivities" type="SensitivitiesType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="Count" type="xs:positiveInteger" default="1"/>
        <xs:attribute name="Willingness" type="ZeroToOneType" use="required"/>
        <xs:attribute name="Retention" type="ZeroToOneType" use="required"/>
        <xs:attribute name="Threshold" type="xs:double" use="required"/>
        <xs:attribute name="Scaling" type="xs:double" use="required"/>
        <xs:attribute name="MinAttraction" type="xs:double" use="required"/>
        <xs:attribute name="Tags" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="SensitivitiesType">
        <xs:sequence>
            <xs:element name="S" type="SensitivityType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SensitivityType">
        <xs:attribute name="Id" type="xs:string" use="required"/>
        <xs:attribute name="V" type="xs:double" use="optional"/>
    </xs:complexType>

    <!-- ========== Generator ========== -->

    <xs:complexType name="GeneratorType">
        <xs:sequence>
            <xs:element name="Sensitivities" type="SensitivitySpecsType" minOccurs="0"/>
            <xs:element name="Willingness" type="ValueSpecType" minOccurs="0"/>
            <xs:element name="Retention" type="ValueSpecType" minOccurs="0"/>
            <xs:element name="Threshold" type="ValueSpecType" minOccurs="0"/>
            <xs:element name="Scaling" type="ValueSpecType" minOccurs="0"/>
            <xs:element name="MinAttraction" type="ValueSpecType" minOccurs="0"/>
            <xs:element name="Tags" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="Count" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="Seed" type="xs:int" use="optional"/>
    </xs:complexType>

    <xs:complexType name="SensitivitySpecsType">
        <xs:sequence>
            <xs:element name="S" type="SensitivitySpecType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Value specification: V for fixed, Min/Max for range, Scale for random -->
    <xs:complexType name="SensitivitySpecType">
        <xs:attribute name="Id" type="xs:string" use="required"/>
        <xs:attribute name="V" type="xs:double" use="optional"/>
        <xs:attribute name="Min" type="xs:double" use="optional"/>
        <xs:attribute name="Max" type="xs:double" use="optional"/>
        <xs:attribute name="Scale" type="xs:double" use="optional"/>
    </xs:complexType>

    <xs:complexType name="ValueSpecType">
        <xs:attribute name="V" type="xs:double" use="optional"/>
        <xs:attribute name="Min" type="xs:double" use="optional"/>
        <xs:attribute name="Max" type="xs:double" use="optional"/>
        <xs:attribute name="Scale" type="xs:double" use="optional"/>
    </xs:complexType>

    <!-- ========== Cities ========== -->

    <xs:complexType name="CitiesType">
        <xs:sequence>
            <xs:element name="City" type="CityType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CityType">
        <xs:sequence>
            <xs:element name="Factors" type="CityFactorsType" minOccurs="0"/>
            <xs:element name="Population" type="CityPopulationType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:string" use="required"/>
        <xs:attribute name="Name" type="xs:string" use="optional"/>
        <xs:attribute name="Lat" type="LatitudeType" use="required"/>
        <xs:attribute name="Lon" type="LongitudeType" use="required"/>
        <xs:attribute name="Area" type="PositiveDoubleType" use="required"/>
        <xs:attribute name="Capacity" type="xs:positiveInteger" use="optional"/>
    </xs:complexType>

    <xs:complexType name="CityFactorsType">
        <xs:sequence>
            <xs:element name="F" type="FactorValueType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FactorValueType">
        <xs:attribute name="Id" type="xs:string" use="required"/>
        <xs:attribute name="V" type="xs:double" use="required"/>
    </xs:complexType>

    <xs:complexType name="CityPopulationType">
        <xs:sequence>
            <xs:element name="Ref" type="RefType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RefType">
        <xs:attribute name="Id" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- ========== Simulation History ========== -->

    <xs:complexType name="HistoryType">
        <xs:sequence>
            <xs:element name="Step" type="StepType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StepType">
        <xs:sequence>
            <xs:element name="Migrations" type="MigrationsType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="Tick" type="xs:nonNegativeInteger" use="required"/>
        <xs:attribute name="Timestamp" type="xs:dateTime" use="optional"/>
    </xs:complexType>

    <xs:complexType name="MigrationsType">
        <xs:sequence>
            <xs:element name="M" type="MigrationType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MigrationType">
        <xs:attribute name="From" type="xs:string" use="required"/>
        <xs:attribute name="To" type="xs:string" use="required"/>
        <xs:attribute name="Count" type="xs:positiveInteger" use="required"/>
    </xs:complexType>

    <!-- ========== Custom Simple Types ========== -->

    <xs:simpleType name="PositiveDoubleType">
        <xs:restriction base="xs:double">
            <xs:minExclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LatitudeType">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="-90"/>
            <xs:maxInclusive value="90"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LongitudeType">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="-180"/>
            <xs:maxInclusive value="180"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ZeroToOneType">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>