schemas/snapshot.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  dotMigrata Snapshot Schema v3.0
  
  Type-safe unified value system with:
  - Single namespace for all elements
  - UnitValue type for all normalized 0-1 range values
  - Unified PersonSpec for templates and generators
  - FactorIntensity terminology (no more FactorValue)
  - Attribute-based configuration for scalar values
  - Shorter element names for reduced file size
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://geomigrata.pages.dev/snapshot"
           targetNamespace="http://geomigrata.pages.dev/snapshot"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <!-- ========== Root Element ========== -->

    <xs:element name="Snapshot">
        <xs:annotation>
            <xs:documentation>Root element containing a simulation world snapshot.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="World" type="WorldType"/>
                <xs:element name="History" type="HistoryType" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="Version" type="xs:string" use="required"/>
            <xs:attribute name="Id" type="xs:string" use="required"/>
            <xs:attribute name="Status" type="SnapshotStatusType" use="required"/>
            <xs:attribute name="CreatedAt" type="xs:dateTime" use="required"/>
            <xs:attribute name="LastModifiedAt" type="xs:dateTime" use="optional"/>
            <xs:attribute name="Tick" type="xs:nonNegativeInteger" default="0"/>
        </xs:complexType>
    </xs:element>

    <!-- ========== Enumerations ========== -->

    <xs:simpleType name="SnapshotStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Seed"/>
            <xs:enumeration value="Active"/>
            <xs:enumeration value="Stabilized"/>
            <xs:enumeration value="Completed"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FactorTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Positive"/>
            <xs:enumeration value="Negative"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TransformTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Linear"/>
            <xs:enumeration value="Log"/>
            <xs:enumeration value="Sigmoid"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ========== World Structure ========== -->

    <xs:complexType name="WorldType">
        <xs:sequence>
            <xs:element name="Factors" type="FactorsType" minOccurs="0"/>
            <xs:element name="Population" type="PopulationType" minOccurs="0"/>
            <xs:element name="Cities" type="CitiesType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" use="optional"/>
    </xs:complexType>

    <!-- ========== Factor Definitions ========== -->

    <xs:complexType name="FactorsType">
        <xs:sequence>
            <xs:element name="Factor" type="FactorType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FactorType">
        <xs:attribute name="Id" type="xs:string" use="required"/>
        <xs:attribute name="Name" type="xs:string" use="optional"/>
        <xs:attribute name="Type" type="FactorTypeEnum" use="required"/>
        <xs:attribute name="Min" type="xs:double" use="required"/>
        <xs:attribute name="Max" type="xs:double" use="required"/>
        <xs:attribute name="Transform" type="TransformTypeEnum" use="optional"/>
    </xs:complexType>

    <!-- ========== Population Groups ========== -->

    <xs:complexType name="PopulationType">
        <xs:sequence>
            <xs:element name="Group" type="GroupType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GroupType">
        <xs:annotation>
            <xs:documentation>A population group containing person specifications. Use Person without Seed for
                templates, or Person with Seed for generators.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Person" type="PersonSpecType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- ========== Unified Person Specification ========== -->

    <xs:complexType name="PersonSpecType">
        <xs:annotation>
            <xs:documentation>Unified person specification. Without Seed: template mode (fixed values). With Seed:
                generator mode (ranges/distributions).
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sensitivities" type="SensitivitySpecsType" minOccurs="0"/>
            <xs:element name="Willingness" type="ValueSpecType" minOccurs="0"/>
            <xs:element name="Retention" type="ValueSpecType" minOccurs="0"/>
            <xs:element name="Threshold" type="ValueSpecType" minOccurs="0"/>
            <xs:element name="Scaling" type="ValueSpecType" minOccurs="0"/>
            <xs:element name="MinAttraction" type="ValueSpecType" minOccurs="0"/>
            <xs:element name="Tags" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="Count" type="xs:positiveInteger" use="required"/>
        <xs:attribute name="Seed" type="xs:int" use="optional"/>
        <xs:attribute name="Type" type="xs:string" use="optional" default="StandardPerson"/>
    </xs:complexType>

    <xs:complexType name="SensitivitySpecsType">
        <xs:annotation>
            <xs:documentation>Factor sensitivity specifications. All values in 0-1 range (UnitValue). Use V for fixed,
                Min/Max for range, Approximately for normal distribution.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="S" type="SensitivitySpecType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SensitivitySpecType">
        <xs:annotation>
            <xs:documentation>Value specification for sensitivity (0-1 UnitValue). V for fixed, Min/Max for range,
                Approximately+StdDev for normal distribution.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="Id" type="xs:string" use="required"/>
        <xs:attribute name="V" type="ZeroToOneType" use="optional"/>
        <xs:attribute name="Min" type="ZeroToOneType" use="optional"/>
        <xs:attribute name="Max" type="ZeroToOneType" use="optional"/>
        <xs:attribute name="Approximately" type="ZeroToOneType" use="optional"/>
        <xs:attribute name="StdDev" type="xs:double" use="optional"/>
    </xs:complexType>

    <xs:complexType name="ValueSpecType">
        <xs:annotation>
            <xs:documentation>Value specification for UnitValue properties (0-1 range). V for fixed, Min/Max for range,
                Approximately+StdDev for normal distribution.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="V" type="ZeroToOneType" use="optional"/>
        <xs:attribute name="Min" type="ZeroToOneType" use="optional"/>
        <xs:attribute name="Max" type="ZeroToOneType" use="optional"/>
        <xs:attribute name="Approximately" type="ZeroToOneType" use="optional"/>
        <xs:attribute name="StdDev" type="xs:double" use="optional"/>
    </xs:complexType>

    <!-- ========== Cities ========== -->

    <xs:complexType name="CitiesType">
        <xs:sequence>
            <xs:element name="City" type="CityType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CityType">
        <xs:sequence>
            <xs:element name="Factors" type="CityFactorsType" minOccurs="0"/>
            <xs:element name="Population" type="CityPopulationType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:string" use="required"/>
        <xs:attribute name="Name" type="xs:string" use="optional"/>
        <xs:attribute name="Lat" type="LatitudeType" use="required"/>
        <xs:attribute name="Lon" type="LongitudeType" use="required"/>
        <xs:attribute name="Area" type="PositiveDoubleType" use="required"/>
        <xs:attribute name="Capacity" type="xs:positiveInteger" use="optional"/>
    </xs:complexType>

    <xs:complexType name="CityFactorsType">
        <xs:annotation>
            <xs:documentation>Factor intensities for a city. All values must be normalized to 0-1 range (UnitValue).
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="F" type="FactorIntensityType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FactorIntensityType">
        <xs:annotation>
            <xs:documentation>A city's factor intensity. Value (V) must be in 0-1 range representing normalized
                intensity.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="Id" type="xs:string" use="required"/>
        <xs:attribute name="V" type="ZeroToOneType" use="required"/>
    </xs:complexType>

    <xs:complexType name="CityPopulationType">
        <xs:sequence>
            <xs:element name="Ref" type="RefType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RefType">
        <xs:attribute name="Id" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- ========== Simulation History ========== -->

    <xs:complexType name="HistoryType">
        <xs:sequence>
            <xs:element name="Step" type="StepType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StepType">
        <xs:sequence>
            <xs:element name="Migrations" type="MigrationsType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="Tick" type="xs:nonNegativeInteger" use="required"/>
        <xs:attribute name="Timestamp" type="xs:dateTime" use="optional"/>
    </xs:complexType>

    <xs:complexType name="MigrationsType">
        <xs:sequence>
            <xs:element name="M" type="MigrationType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MigrationType">
        <xs:attribute name="From" type="xs:string" use="required"/>
        <xs:attribute name="To" type="xs:string" use="required"/>
        <xs:attribute name="Count" type="xs:positiveInteger" use="required"/>
    </xs:complexType>

    <!-- ========== Custom Simple Types ========== -->

    <xs:simpleType name="PositiveDoubleType">
        <xs:restriction base="xs:double">
            <xs:minExclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LatitudeType">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="-90"/>
            <xs:maxInclusive value="90"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LongitudeType">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="-180"/>
            <xs:maxInclusive value="180"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ZeroToOneType">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>